.menu li {
  display: none;
  cursor: pointer;
}

header {
  height: 65px;
  width: 100%;
  background-color: #58a9ef;
}

header h1 {
  color: white;
  line-height: 65px;
  text-align: center;
}

.panel-content {
  width: 100%;
  height: 400px;
  color: white;
  position: relative; 
  text-align: center;
  background-color: rgba(34, 49, 52, 0.9);
}

.panel {
  display: none;
  padding-top: 16px;
}

.panel p {
  margin: 10px 0px 10px 0px;
}

.tab-content {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.tab-index {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.tab-index.is-active {
  background: #F00;
  color: white;
}

.tab-menu {
  margin-top: 20px;
}

#modal {
  background-color: #F00;
  width: 100px;
  text-align: center;
  cursor: pointer;
  list-style: none;
  border:solid 1px white;
  color: white;
  margin: auto;
  border-radius: 10px;
}

/*モーダル*/
.signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
}

#close-modal {
  border: 1px solid black;
  width: 50px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
}

.modal p {
  text-align: center;
}

.accordion ul{
  list-style:none;
  width: 500px;
  height: 200px;
  color: black;
}

.accordion1 {text-align: center;}
.accordion1 .inner {display: none;}
.accordion1 p{cursor: pointer; padding: 10px;}
.accordion1 p.ac1{background: #F50057;}
.accordion1 p.ac2{background: #FFEA00;}
.accordion1 p.ac3{background: #64DD17;}
.accordion1 .inner li{padding: 10px 0;}
.accordion1 .inner li.content1-1{background: #F48FB1;}
.accordion1 .inner li.content1-2{background: #F8BBD0;}
.accordion1 .inner li.content1-3{background: #FCE4EC;}
.accordion1 .inner li.content2-1{background: #FFF59D;}
.accordion1 .inner li.content2-2{background: #FFF9C4;}
.accordion1 .inner li.content2-3{background: #FFFDE7;}
.accordion1 .inner li.content3-1{background: #C5E1A5;}
.accordion1 .inner li.content3-2{background: #DCEDC8;}
.accordion1 .inner li.content3-3{background: #F1F8E9;}

/* スライダー開始 */
.container {
  width: 300px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  margin-bottom: 8px;
}

.slider li {
  width: 60px;
  border: 1px solid #dedede;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.slider li:hover {
  background: #f8f8f8;
}

#play, #pause {
  width: 140px;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(5,56px);
  gap: 5px;
}

.thumbnails li {
  cursor: pointer;
  opacity: 0.4;
}

.thumbnails li:hover {
  opacity: 1;
}

.thumbnails li.current {
  opacity: 1;
}

main img {
  width: 300px;
  height: 200px;
  vertical-align: bottom;
}

.slider {
  margin-bottom: 8px;
}

.slider ul {
  display: flex;
  justify-content: space-between;
}

.thumbnails img {
  width: 56px;
  vertical-align: bottom;
}

.hidden {
  display: none;
}
/* スライダー終了 */




@media screen and (max-width:667px) {

.wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}
.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}
main {
  height: 100%;
  min-height: 100vh;
  padding: 0 50px;
  background-color: #eee;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.open {
  transform: translateX(-250px);
}
main h1 {
  text-align: center;
  font-weight: 500;
}
main p {
  text-align: center;
}
.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;

/*   transform: translateX(0);
  transition: transform .5s;
 */}

/* .menu-trigger.active {
  transform: translateX(-250px);
}
 */

 .menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: all .5s;
}
.menu-trigger.active span {
  background-color: #fff;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
.menu-trigger span:nth-of-type(2) {
  top: 12px;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

.menu {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgb(16, 69, 153, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
.menu.open {
  transform: translateZ(0);
}
.menu li {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

}

